HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### 测试微信支付敏感信息 ###
application-test.properties
apiclient_key_test.pem
/wxpay-okhttp-vehicle-sdk/src/test/java/top/rwocj/wx/pay/vehicle/service/WxPayVehicleServiceTest.java
/wxpay-okhttp-vehicle-sdk/src/test/resources/apiclient_cert.p12
